html {
    box-sizing: border-box;
  }
*, *:before, *:after {
  box-sizing: inherit;

  
}

  /** Globals **/
body{
    
    background-color: rgb(236, 236, 236);
    font-size: 62.5%;
    font-family: 'PT Sans', sans-serif;
  }

img{
    max-width: 100%;
  }

p{
    font-size: 1.2rem;
}  

a{
  text-decoration: none;
}

a p{
  text-decoration: none;
}

.container{
      margin: 0 auto;
      max-width: 1200px;
}

.center{
    text-align: center;
}

/** header **/
.site-header{
  
  background-color: #3F3F3F; 
  
  font-size: 1.6rem;
  padding: 1rem;

  text-align: left;

  display: grid;
}

.site-header img{ 
  margin-left: 1rem;
}

img.logo{
  margin-left:7rem;
}

.nav-header{
  text-align: center;
  padding: 2rem 0;
}

.nav-header a{
  color: black;
  font-size: 2rem;
  margin: 1rem;
  transition: color .3s ease-in-out;
}

.nav-header a:hover{
    color: red;
}

.site-footer{
  background-color: #3F3F3F; 
  text-align: center;
  font-size: 1.4rem;
  padding: 2rem 0;
  color: white;
}

