html {
    box-sizing: border-box;
  }
*, *:before, *:after {
  box-sizing: inherit;  
}

  /** Globals **/
body{
    
    background-color: rgb(236, 236, 236);
    font-size: 62.5%;
    font-family: 'PT Sans', sans-serif;
  }

img{
    max-width: 100%;
  }

p{
    font-size: 1.2rem;
}  

a{
  text-decoration: none;
}

a p{
  text-decoration: none;
}

.container{
  margin: 0 auto;
  max-width: 1500px;

  font-family: 'Montserrat', sans-serif;

}

.center{
  text-align: center;
}

/*Main container*/
.main-container{
  display: flex;
}

/* Bg image */
.main-image{
  position:relative;  
  margin: 0;
}

.main-image img{
  width:100%;
}

/** header **/
.site-header{
  position:fixed;
  top:0;
  background-color: rgba(126, 126, 126, 0.5); 
  font-size: 1.6rem;
  padding: 1rem 1rem 1rem 0.3rem;

  display: flex;
  width:100%;
  justify-content: space-between;
  align-items: center;
}


.site-header img{ 
  margin-left: 1rem;

}


/** Navegation **/


.nav-header ul{
  list-style: none;
  display:flex;
  justify-content: space-between;

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  align-items: center;
  
}

.nav-header ul a{
  text-decoration: none;
  color:white;
  text-transform: uppercase;
  margin-right: 2rem;
  transition: all .3s ease-in-out;

}

.nav-header ul a:hover{
  text-decoration: underline;
}

.nav-header ul a.selected{
  text-decoration: underline;
}

.nav-media{
  text-align: center;
  padding: 2rem 0;
  color: #9c47fc;
  display: grid;
  justify-content: right;
  align-items: center;
 
}

.head-a2{
 
  width: 100px;
 
}

.nav-media a{
  color: #e1e1e1;
  font-size: 2rem;
  padding: 0.2rem;
  margin: 0.5rem;
  transition: all .3s ease-in-out;
  display: inline-flex;

}

/*Sticky stuff will be fixed at a certain position*/
/*Adjust the last of all*/

.sticky{
  display:none;
}

@media(min-width: 768px){
  .sticky{
    display:block;
    position:fixed;
    bottom: 100px;
    width:100%;
  }
}


/* Hover effects */
.nav-media a:hover{
  color: red;
}

.nav-media a.fb:hover{
  color: blue;
}

.nav-media a.tw:hover{
  color: #1da1f2;
}

.nav-media a.ig{
  background: -webkit-linear-gradient(#f5e96c, #fdf497, #fd5949, #d6249f, #285AEB);
  -webkit-background-clip: text;
}
.nav-media a.ig:hover{
  transition: all .3s ease-in-out;

  color:transparent;
  -webkit-text-fill-color: transparent;

}

/* Main page content */
.game-presentation{
  margin: 2rem 0 0 1rem;
  position:absolute;
  top: calc(50% - 5rem);
  width: 25%;
  color: #e1e1e1;
}

.game-presentation p{
  font-size: 1.5rem;
}

@media(min-width: 768px){
  .main-image .game-presentation{
   align-self: center;
    margin: 2rem 0 0 1rem;
    width: 25%;
    color: #e1e1e1;
  }
}

/*Contacto*/

.formulario-contacto{
  padding: 10rem 1rem 1rem 1rem;
  background-color: #102e38;
  color: #e1e1e1;
  padding-bottom: 30rem;
}

.campo{
  display:grid;
  grid-template-columns: 1fr 5fr;
  margin-bottom: 1rem;
}

.campo label{
  font-size: 1.3rem;
}

.campo input{
  height: 1.5rem;
  width: 30rem;
}

.campo .message{
  height: 20rem;
}

.campo textarea{
  width: 30rem;
}

.col-50{
  display:block;
 
}

.campo input.button{
  text-transform: uppercase;
  width: 10rem;
  display: inline-block;
}

/** Footer **/
.site-footer{
  background-color: #3F3F3F; 
  text-align: center;
  font-size: 1.4rem;
  padding: 2rem 0;
  color: white;
}

.button{
  border: none;
  font-weight: bold;
  padding: 0.8rem;
  /*background-image: url(../img/onion.png);*/
}

