html {
    box-sizing: border-box;
  }
*, *:before, *:after {
  box-sizing: inherit;

  
}

  /** Globals **/
body{
    
    background-color: rgb(236, 236, 236);
    font-size: 62.5%;
    font-family: 'PT Sans', sans-serif;
  }

img{
    max-width: 100%;
  }

p{
    font-size: 1.2rem;
}  

a{
  text-decoration: none;
}

a p{
  text-decoration: none;
}

.container{
      margin: 0 auto;
      max-width: 1200px;
}

.center{
    text-align: center;
}

/** header **/
.site-header{
  
  background-color: #3F3F3F; 
  
  font-size: 1.6rem;
  padding: 1rem;

  text-align: left;

  display: grid;
}

.site-header img{ 
  margin-left: 1rem;
}

img.logo{
  margin-left:7rem;
}

.nav-header{
  text-align: center;
  padding: 2rem 0;
}

.nav-header a{
  color: black;
  font-size: 2rem;
  padding: 0.2rem;
  margin: 1rem;
  transition: color .3s ease-in-out;

}

.nav-header a:hover{
  color: red;
}

.nav-header a.fb:hover{
  color: blue;
}

.nav-header a.tw:hover{
  color: #1da1f2;
}

.nav-header a.ig:hover{
  color: white;
  height: 80%;
  border-radius: 25%;
  background: -webkit-linear-gradient(45deg, #fdf497, #fdf497, #fd5949, #d6249f, #285AEB  80%);
 
}


.site-footer{
  background-color: #3F3F3F; 
  text-align: center;
  font-size: 1.4rem;
  padding: 2rem 0;
  color: white;
}

