<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="{{ "/" | absolute_url }}" class="logo mr-auto"><img src="{{ "assets/img/content/marketing_logo_white.png" | absolute_url}}" alt="" class="img-fluid"></a>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        {% for nav in site.navigation %}

        {% assign active = nil %}
        {% if page.url == nav.url or page.site_tag == nav.site_tag %}
          {% assign active = 'active' %}
        {% endif %}

        <li class="{{ active }}"><a href="{{ nav.url | absolute_url }}">{{ nav.text }}</a></li>
        {% endfor %}
      </ul>

      <div id="social-links-header" class="header-social-links">
        {% if site.linkedin != "" %}
        <a href="{{ site.linkedin }}" class="mobile-social-link"><i class="fab fa-linkedin"></i></a>
        {% endif %}

        {% if site.twitter != "" %}
        <a href="{{ site.twitter }}" class="mobile-social-link"><i class="fab fa-twitter-square"></i></a>
        {% endif %}

        {% if site.facebook != "" %}
        <a href="{{ site.facebook }}" class="mobile-social-link"><i class="fab fa-facebook-square"></i></a>
        {% endif %}

        {% if site.instagram != "" %}
        <a href="{{ site.instagram }}" class="mobile-social-link"><i class="fab fa-instagram"></i></a>
        {% endif %}

        {% if site.github != "" %}
        <a href="{{ site.github }}" class="mobile-social-link"><i class="fab fa-github-square"></i></a>
        {% endif %}
      </div>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->
