<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="{{ "/" | absolute_url }}" class="logo mr-auto"><img src="{{ "assets/img/content/marketing_logo_white.png" | absolute_url}}" alt="" class="img-fluid"></a>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        {% for nav in site.navigation %}

        {% assign active = nil %}
        {% if page.url == nav.url or page.site_tag == nav.site_tag %}
          {% assign active = 'active' %}
        {% endif %}

        <li class="{{ active }}"><a href="{{ nav.url | absolute_url }}">{{ nav.text }}</a></li>
        {% endfor %}
      </ul>
    </nav><!-- .nav-menu -->
  </div>
</header><!-- End Header -->
