<div class="user-projects">
  {% if project.orientation == "right" %}
  <div class="images-right">
  {% elsif project.orientation == "left" %}
  <div class="images-left">
  {% endif %}
    <img alt=" {{ project.title }} " src="{{ project.image }}" />
  </div>
  {% if project.orientation == "left" %}
  <div class="contents-right">
  {% elsif project.orientation == "right" %}
  <div class="contents">
  {% endif %}
    <h3 id="projects-section-header"> {{ project.title }} </h3>
    <p class="my-separator"></p>
    <p id="date">{{project.year}}</p>
    <p> {{ project.description }} </p>
    <h4> My contribution: </h4>
    <ul>
      {% for single_contribution in project.contribution %}
        <li> {{single_contribution}} </li>
      {% endfor %}
    </ul>

    {% if project.github != "" %}
    <a class="project-link" target="_blank" href="{{project.github}}"><i class="my-icon fab fa-github" aria-hidden="true"></i><b style="margin:0 0.25em;">Repository</b></a>
    {% endif %}

    {% if project.demo != "" %}
    <a class="project-link" target="_blank" href="{{project.demo}}"><i class="my-icon fas fa-gamepad" aria-hidden="true"></i><b style="margin:0 0.25em;">Play</b></a>
    {% endif %}
  </div>
</div>
