{% assign projects = site[include.collection] | sort: 'priority' %}

<div class="user-details">
  {% if include.collection == "jams" %}
    <h1 id="projects-section-header"> Game Jam Projects </h1>
    <p class="my-separator2"></p>
    <p>
      In Game Jams I had the occasion to meet new colleagues and to have a blast while making themed based games. Also it was a good exercise for improving planning and prioritization skills!
    </p>
    {% endif %}

  {% if include.collection == "personal" %}
    <h1 id="projects-section-header"> Personal Projects </h1>
    <p class="my-separator2"></p>
    <p>
      I dedicate some hours of my free time to work on small personal projects. I develop them by myself, and I work in all the different areas of the development: programming, music, art, etc.
    </p>
    {% endif %}

  {% if include.collection == "academic" %}
  <h1 id="projects-section-header"> Academic Projects </h1>
  <p class="my-separator2"></p>
  <p>
    During my time at the university I learnt the basics of game development, and I had the ocasion to use this knowledge to develop games in several projects. Some of these projects were developed in pairs for the Videogames course, while others were made exclusively by myself.
  </p>
  {% endif %}
</div>

{% for project in projects %}
  {% include project_single.html %}
{% endfor %}
