<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
        </section><!-- End Breadcrumbs -->

        <!-- ======= Blog Section ======= -->
        <section id="blog" class="blog">
          <div class="container">
            <div class="row">

              <div class="col-lg-8 entries">
                <article class="entry entry-single" data-aos="fade-up">

                  <div class="entry-img">
                    <img src="{{ "assets/img/blog/"| absolute_url }}{{ page.thumbnail }}" alt="" class="img-fluid">
                  </div>

                  <h2 class="entry-title">
                    <a>{{ page.title }}</a>
                  </h2>

                  <div class="entry-meta">
                    <ul>
                      <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a><time datetime="2020-01-01"> {{ page.date | date_to_string }} </time></a></li>
                    </ul>
                  </div>

                  <div class="entry-content">
                    {{ content }}
                    <p></p>
                  </div>

                  <div class="entry-footer clearfix">
                    <div class="float-left">
                      <i class="icofont-folder"></i>
                      <ul class="cats">
                        {% for category in page.categories %}
                        {% if category != "blog" %}
                        <li><a href="{{ "blog/" | absolute_url }}{{ category }}">{{ category | capitalize }}</a></li>
                        {% endif %}
                        {% endfor %}
                      </ul>
                    </div>
                  </div>

                </article><!-- End blog entry -->

                <div class="blog-author clearfix" data-aos="fade-up">
                    {% assign author_upper = page.author | upcase %}
                    {% for team_member in site.data.team %}
                    {% if team_member.FULL_NAME == author_upper %}

                    <img src="{{ "assets/img/people/" | absolute_url}}{{ team_member.IMG }}" class="rounded-circle float-left" alt="">
                    <h4 style="margin-top:16px;">{{page.author}}</h4>
                    <h5>
                      {{ team_member.ROLE | lowcase | capitalize }}
                    </h5>
                    <div class="social-links">
                      {% if team_member.TWITTER != "none" %}
                      <a href="https://twitter.com/{{ team_member.TWITTER }}"><i class="icofont-twitter"></i></a>
                      {% endif %}
                      {% if team_member.INSTAGRAM != "none" %}
                      <a href="https://www.instagram.com/{{ team_member.INSTAGRAM }}"><i class="icofont-instagram"></i></a>
                      {% endif %}
                      {% if team_member.GIT != "none" %}
                      <a href="https://github.com/{{ team_member.GIT }}"><i class="bx bxl-github"></i></a>
                      {% endif %}
                      {% if team_member.LINKEDIN != "none" %}
                      <a href="https://www.linkedin.com/in/{{ team_member.LINKEDIN }}"><i class="icofont-linkedin"></i></a>
                      {% endif %}
                      {% if team_member.ARTSTATION != "none" %}
                      <a href="https://www.artstation.com/{{ team_member.ARTSTATION }}/"><i class="fab fa-artstation"></i></a>
                      {% endif %}
                      {% if team_member.WEBPAGE != "none" %}
                      <a href="{{ team_member.WEBPAGE }}"><i class="icofont-user"></i></a>
                      {% endif %}
                    </div>

                    {% endif %}
                    {% endfor %}
                </div><!-- End blog author bio -->

                </div><!-- End blog entries list -->

              {% include blog_sidebar.html %}

            </div>
          </div>
        </section><!-- End Blog Section -->
      </main><!-- End #main -->
      {% include footer.html %}
  </body>
</html>
